@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["Aluno"]</h3>
<h3>@ViewData["Teste"]</h3>
<input  />
<input placeholder="Teste" />
<div>
    <h1><a href="#google.com">Teste</a></h1>

</div>

<p>Use this area to provide additional information.</p>
